* {
    padding: 0;
    margin: 0;
}

.acudits {
    background-image: url("./images/blob1.svg");
    height: 1000px; 
    background-repeat: no-repeat;
    background-position: center; 
} 

i {
    background-color: gold; 
    width: 46px;
    height: 46px;
    border-radius: 3rem;
    padding: .3rem;
}

.fa-3x {
    color: rgba(0, 0, 0, 0.75); 
    background-color: none;
}

.fa-3x:hover {
    padding: 0;
}

#acudit, #acudit:focus {
    box-shadow: 5px 7px gold;
}

#acudit:hover {
    color: black;
    background-color: gold;
    box-shadow: 10px 15px rgb(0, 0, 0);
}
#loading{
    width : 50%;
}